// 使用する色
$black: #000;
$white: #fff;
$red: #f00;
$gray: #D9D9D9;
$light-gray: #F2F2F2;
$color-moderate: #e7e0db;

// 用途による色
$color-alert: $red;
$color-disable: #b2b2b2;

// ベース色
$color-main: #003153;
$color-secondary: #005EB8;

// 背景
$color-bg: $white;
$color-header-bg: $color-main;
$color-footer-bg: $color-main;

// テキスト色
$color-text: $black;
$color-subText: $black;

// 透過度
$opacity: 0.7;

// テーブル
$color-table: #eee;
