$ff-kgpw3: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
$ff-kgpw6: 'HiraKakuPro-W6', 'ヒラギノ角ゴ Pro W6', sans-serif;

$ff-serif: '游明朝体', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro', 'MS P明朝', 'MS PMincho', 'Noto Serif JP', serif;
$ff-sans: '游ゴシック体', '游ゴシック', 'Yu Gothic', 'YuGothic', 'Hiragino Sans', 'ヒラギノ角ゴシック',
  'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', 'メイリオ', 'Meiryo',
  'MS Pゴシック', 'MS PGothic',
  /* "Noto Sans JP", "Noto Sans CJK JP", */
  sans-serif; // ヒラギノ角ゴシックは新しい。ヒラギノ角ゴ ProNと一緒。

$ff-en: sans-serif;
$ff-awesome: var(--fa-font-solid);
$ff-awesome-brand: var(--fa-font-brands);

$fz-root: 16px;
$fz-base: 1rem;
$ff-base: $ff-sans;
$lh-base: 1.5;
$ls-base: 0em;

// font-weight
$fw-ultraLight: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-semiLight: 400;
$fw-regular: $fw-semiLight;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-heavy: 900;
$fw-black: $fw-heavy;

$fw-base: $fw-regular;