@use 'global' as *;

.c-btn {
  display: inline-block;
  padding: rem(15) rem(20);
  border: 1px solid $black;
  border-radius: rem(14);
  font-size: rem(14);
  font-family: var(--font-din-medium);
  line-height: 1;
  letter-spacing: 0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  @include mq(md) {
    font-size: rem(16);
  }
}

.c-btn span {
  position: relative;
  display: inline-block;
}

.c-btn--next span {
  position: relative;
  padding-left: rem(30);
  padding-right: rem(30);

  @include mq(md) {
    padding-left: rem(36);
    padding-right: rem(36);
  }
}

.c-btn--next span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(24);
  aspect-ratio: 1 / 1;
  background-image: url(../img/common/icon-measurement.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.c-btn--next--storage span::before {
  background-image: url(../img/common/icon-storage.svg);
}

.c-btn--next--battery span::before {
  background-image: url(../img/common/icon-battery.svg);
}

.c-btn--next--mobile span::before {
  background-image: url(../img/common/icon-mobile.svg);
}

.c-btn--next--wholebody span::before {
  background-image: url(../img/common/icon-wholebody.svg);
}

.c-btn--next--composition-monitor span::before {
  background-image: url(../img/common/icon-composition-monitor.svg);
}

.c-btn--next--help span::before {
  background-image: url(../img/common/icon-help.svg);
}

.c-btn--next--disposal span::before {
  background-image: url(../img/common/icon-delete.svg);
}

.c-btn--next--information span::before {
  background-image: url(../img/common/icon-information.svg);
}

.c-btn--next span::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: rem(20);
  aspect-ratio: 1 / 1;
  background-image: url(../img/common/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s ease;

  @include mq(md) {
    width: rem(24);
  }
}

@media (hover: hover) {
  .c-btn:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
    border-color: $primary-blue;
  }

  .c-btn:hover span::after {
    transform: translateY(-50%) translateX(rem(5));
  }
}