<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.calibration.title %></p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="./calibration-selecting-the-personal-number-manually-before-measurement.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Selecting the Personal Number Manually Before Measurement</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-transferring-the-readings-later.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Transferring the Readings Later</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-measuring-without-recording.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Measuring without Recording (GUEST mode)</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-changing-or-deleting-your-personal-data.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Changing or Deleting Your Personal Data</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-replacing-the-batteries.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Replacing the Batteries</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-restoring-the-unit-to-factory-settings.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Restoring the Unit to Factory Settings</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-performing-initial-settings-on-the-unit.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Performing Initial Settings on the Unit</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-registering-personal-data-on-the-unit.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Registering Personal Data on the Unit</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./calibration-selecting-measurement-unit.html" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Selecting Measurement Unit</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>