<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.errorMessagesAndTroubleshooting.title %></p>
      <ul class="p-lower-list__sub-items">
        <% const errorTroubleshootingItems = [
          { href: './error-messages.html', text: 'Error Messages', class: 'error' },
          { href: './troubleshooting.html', text: 'Troubleshooting', class: 'troubleshooting' }
        ]; %>
        <% errorTroubleshootingItems.forEach(item => { %>
        <li class="p-lower-list__sub-item">
          <a href="<%= item.href %>" class="p-lower-list__sub-link p-lower-list__sub-link--<%= item.class %>"><span><%= item.text %></span></a>
        </li>
        <% }); %>
      </ul>
    </li>
  </ul>
</div>