<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <a href="./how-to-use-package-contents.html" class="p-lower-list__link"><span class="p-lower-list__link-text">Package Contents</span></a>
    </li>
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead">Know Your Device</p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-know-your-device.html#main-unit" class="p-lower-list__sub-link p-lower-list__sub-link--storage"><span>Main Unit</span></a> 
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-know-your-device.html#display" class="p-lower-list__sub-link p-lower-list__sub-link--storage"><span>Display</span></a>
        </li>
      </ul>
    </li>
    <li class="p-lower-list__item">
      <a href="./how-to-use-installing-batteries.html" class="p-lower-list__link"><span class="p-lower-list__link-text">Installing Batteries</span></a>
    </li>
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead">Installing the “OMRON connect” App</p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-installing-omron-connect-app.html#install-the-app" class="p-lower-list__sub-link p-lower-list__sub-link--mobile"><span>Install the App</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-installing-omron-connect-app.html#perform-initial-settings" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Perform Initial Settings</span></a>
        </li>
      </ul>
    </li>
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead">For Accurate Measurement</p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-for-accurate-measurement.html#check-the-correct-measurement-method" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Check the Correct Measurement Method</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-for-accurate-measurement.html#install-the-unit" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Install the Unit</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-for-accurate-measurement.html#when-0-kg-calibration-is-required" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>When “0 kg calibration” Is Required</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-for-accurate-measurement.html#implement-the-0-kg-calibration" class="p-lower-list__sub-link p-lower-list__sub-link--measurement"><span>Implement the “0 kg Calibration”</span></a>
        </li>
      </ul>
    </li>
    <li class="p-lower-list__item">
      <a href="./how-to-use-taking-a-measurement.html" class="p-lower-list__link"><span class="p-lower-list__link-text">Taking a Measurement</span></a>
    </li>
    <li class="p-lower-list__item">
      <a href="./how-to-use-automatic-transfer-of-readings.html" class="p-lower-list__link"><span class="p-lower-list__link-text">Automatic Transfer of Readings</span></a>
    </li>
    <li class="p-lower-list__item">
      <a href="./how-to-use-check-your-readings-using-the-omron-connect-app.html" class="p-lower-list__link"><span class="p-lower-list__link-text">Check Your Readings Using the “OMRON connect” App</span></a>
    </li>
    <li class="p-lower-list__item">
      <a href="./how-to-use-measuring-weight-only.html" class="p-lower-list__link"><span class="p-lower-list__link-text">Measuring Weight Only</span></a>
    </li>
  </ul>
</div>