<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.howToUse.title %></p>
      <ul class="p-lower-list__sub-items">
        <% const maintenanceItems = [
          { href: './how-to-use-package-contents.html', text: 'Package Contents', class: 'package' },
          { href: './how-to-use-know-your-device.html', text: 'Know Your Device', class: '' },
          { href: './how-to-use-installing-batteries.html', text: 'Installing Batteries', class: 'batteries' },
          { href: './how-to-use-initial-setting.html', text: 'Initial Settings', class: 'setting' },
          { href: './how-to-use-for-accurate-measurement.html', text: 'For Accurate Measurement', class: 'wholebody' },
          { href: './how-to-use-taking-a-measurement.html', text: 'Taking a Measurement', class: '' },
          { href: './how-to-use-automatic-transfer-of-readings.html', text: 'Automatic Transfer of Readings', class: 'mobile' },
          { href: './how-to-use-check-your-readings-using-the-omron-connect-app.html', text: 'Check Your Readings Using the "OMRON connect" App', class: 'mobile' },
          { href: './how-to-use-measuring-weight-only.html', text: 'Measuring Weight Only', class: 'composition-monitor' }
        ]; %>
        <% maintenanceItems.forEach(item => { %>
        <li class="p-lower-list__sub-item">
          <a href="<%= item.href %>" class="p-lower-list__sub-link p-lower-list__sub-link--<%= item.class %>"><span><%= item.text %></span></a>
        </li>
        <% }); %>
      </ul>
    </li>
  </ul>
</div>