<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.maintenance.title %></p>
      <ul class="p-lower-list__sub-items">
        <% const maintenanceItems = [
          { href: './maintenance-maintenance.html', text: 'Maintenance', class: 'maintenance' },
          { href: './maintenance-correct-disposal-of-this-product.html', text: 'Correct Disposal of This Product (Waste Electrical & Electronic Equipment)', class: 'information' }
        ]; %>
        <% maintenanceItems.forEach(item => { %>
        <li class="p-lower-list__sub-item">
          <a href="<%= item.href %>" class="p-lower-list__sub-link p-lower-list__sub-link--<%= item.class %>"><span><%= item.text %></span></a>
        </li>
        <% }); %>
      </ul>
    </li>
  </ul>
</div>