@use 'global' as *;

.p-birth-date-card {
  display: flex;
  flex-direction: column;
  align-items: normal;
  border: 1px solid $black;
  max-width: rem(693);
  width: 100%;
  position: relative;

  @include mq(md) {
    flex-direction: row;
  }
}

// .p-birth-date-card::before {
  
//   @include mq(md) {    
//     content: '';
//     position: absolute;
//     background-color: $black;
//     top: 0;
//     left: calc(328 / 693 * 100%);
//     width: 1px;
//     height: 100%;
//   }
// }

.p-birth-date-card::after {
  content: "";
  position: absolute;
  left: 47.5%;
  bottom: rem(-60);
  transform: translateX(-50%);
  width: rem(54);
  aspect-ratio: 54 / 43;
  background-image: url(../img/common/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.p-birth-date-card:last-child::after {
  display: none;
}

.p-birth-date-card__image {
  width: 100%;
  padding: rem(15) rem(25);
  border-bottom: 1px solid $black;
  
  @include mq(md) {
    width: calc(328 / 693 * 100%);
    padding: rem(23) rem(40);
    border-bottom: none;
    border-right: 1px solid $black;
  }
}

.p-birth-date-card__text-block {
  width: 100%;
  padding: rem(15);
  font-size: rem(14);
  line-height: calc(20 / 14);
  letter-spacing: 0.025em;

  @include mq(md) {
    width: calc(365 / 693 * 100%);
    height: inherit;
    padding: rem(23) rem(20);
  }
}

.p-birth-date-card__title {
  font-family: var(--font-din-medium);
}

.p-birth-date-card__text {
  padding-left: rem(10);
  position: relative;
}

.p-birth-date-card__text::before {
  content: '';
  position: absolute;
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background-color: $black;
  border-radius: 50%;
}