@use "global" as *;
@use "sass:map";

.p-header {
  padding-top: rem(20);
  padding-bottom: rem(20);
  // height: $header-height-sp;
  background-color: $color-header-bg;

  @include mq(md) {
    // height: $header-height;
  }
}

.p-header__inner {
  display: flex;
  align-items: center;
  // height: 100%;
}

.p-header__logo {
  font-size: rem(30);
  font-weight: $fw-bold;
  line-height: 1;
  height: 90%;
  z-index: map.get($layer, 'drawer') + 1;

  @include mq(md) {
    font-size: rem(40);
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
  }

  img,
  svg {
    object-fit: contain;
    width: auto;
    height: inherit;
  }
}

.p-header__nav {
  display: none;

  @include mq(md) {
    display: block;
    margin-left: auto;
    padding-left: rem(20);

    ul {
      display: flex;
      align-items: center;
      gap: rem(46);
    }

    li {

      > a {
        font-size: rem(18);
        font-weight: $fw-bold;
        display: block;
      }
    }
  }
}

.p-header__drawer {

  @include mq(md) {
    display: none;
  }
}
