@use 'global' as *;

.p-manual__wrap {
  margin-top: rem(20);
  margin-bottom: rem(20);
}

.p-manual__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  @include mq(md) {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.p-manual__lead {
  font-size: rem(12);
  font-family: var(--font-din-medium);
  line-height: lh(16, 12);
  letter-spacing: 0.05em;
}

.p-manual__lead--bold {
  font-family: var(--font-din-bold);
  font-size: rem(16);
}

.p-manual__article {
  margin-top: rem(28);
}

.p-manual__article--mt0 {
  margin-top: 0;
}

.p-manual__sub-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__sub-title--medium {
  font-family: var(--font-din-medium);
}

.p-manual__sub-title--mt16 {
  margin-top: rem(16);
}

.p-manual__sub-text {
  font-size: rem(14);
  line-height: lh(20, 14);
  margin-top: rem(10);
}

.p-manual__sub-text--mt0 {
  margin-top: 0;
}

.p-manual__sub-text--mt5 {
  margin-top: rem(5);
}

.p-manual__sub-text--bold {
  font-family: var(--font-din-bold);
}

.p-manual__text {
  font-size: rem(14);
  line-height: 1.4;
  letter-spacing: 0;
  margin-top: rem(8);
}

.p-manual__text--mt0 {
  margin-top: 0;
}

.p-manual__text--bold {
  font-family: var(--font-din-bold);
}

.p-manual__url-link {
  margin-top: rem(10);
  display: block;
  font-size: rem(14);
  line-height: lh(20, 14);
  text-decoration: underline;
}

.p-manual__url-link--mt8 {
  margin-top: rem(8);
}

.p-manual__table-wrap {
  margin-top: rem(40);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;

  @include mq(md) {
    border: none;
    border-radius: 0;

    &::after {
      display: none;
    }
  }
}

.p-manual__table-wrap-simple {
  margin-top: rem(40);
  width: 100%;
}

.p-manual__table-wrap--mt10 {
  margin-top: rem(10);
}

.p-manual__table-wrap--mt0 {
  margin-top: 0;
}

.p-manual__table {
  width: rem(653);
  min-width: rem(653);
  table-layout: fixed;

  @include mq(md) {
    width: 100%;
    max-width: rem(653);
    min-width: auto;
  }
}

.p-manual__table--display {
  width: rem(673);
  min-width: rem(673);

  @include mq(md) {
    width: 100%;
    max-width: rem(673);
    min-width: auto;
  }
}

.p-manual__table--two-column {
  width: rem(265);
  min-width: rem(265);

  @include mq(md) {
    width: 100%;
    max-width: rem(265);
    min-width: auto;
  }
}

.p-manual__table--interpreting {
  width: 100%;
  max-width: rem(420);
  min-width: 100%;

  @include mq(md) {
    width: 100%;
    max-width: rem(420);
    min-width: auto;
  }
}

.p-manual__note {
  margin-top: rem(7);
}

.p-manual__note-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  margin-top: rem(10);
}

.p-manual__note-text {
  font-size: rem(14);
  line-height: 1.4;
  margin-top: rem(10);
}

.p-manual__image {
  margin-top: rem(10);
}

.p-manual__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-manual__image--package-contents-main-unit {
  width: 100%;
  aspect-ratio: 383 / 240;

  @include mq(md) {
    width: calc(383 / 767 * 100%);
  }
}

.p-manual__image--package-contents-batteries {
  width: calc(130 / 299 * 100%);
  aspect-ratio: 65 / 41;

  @include mq(md) {
    width: calc(130 / 767 * 100%);
  }
}

.p-manual__image--know-your-device-main-unit {
  width: 100%;
  aspect-ratio: 539 / 538;

  @include mq(md) {
      aspect-ratio: 369 / 269;
  }
}

.p-manual__image--know-your-device-display {
  width: 100%;
  aspect-ratio: 265 / 182;

  @include mq(md) {
    width: calc(500 / 767 * 100%);
    margin-inline: auto;
  }
}

.p-manual__image--installing-batteries-step1 {
  width: 100%;
  aspect-ratio: 322 / 269;

  @include mq(md) {
    width: calc(400 / 767 * 100%);
  }
}

.p-manual__image--installing-batteries-step2 {
  width: 100%;
  aspect-ratio: 344 / 225;

  @include mq(md) {
    width: calc(400 / 767 * 100%);
  }
}

.p-manual__image--foot {
  width: calc(290 / 299 * 100%);
  aspect-ratio: 221 / 149;

  @include mq(md) {
    width: calc(300 / 767 * 100%);
  }
}

.p-manual__image--takeout {
  width: calc(290 / 299 * 100%);
  aspect-ratio: 245 / 198;

  @include mq(md) {
    width: calc(300 / 767 * 100%);
  }
}

.p-manual__image--weight-display {
  width: calc(290 / 299 * 100%);
  aspect-ratio: 223 / 172;

  @include mq(md) {
    width: calc(300 / 767 * 100%);
  }
}

.p-manual__image--body-fat-scale {
  width: calc(250 / 299 * 100%);
  aspect-ratio: 92 / 127;

  @include mq(md) {
    width: calc(250 / 767 * 100%);
  }
}

.p-manual__image--body-angle {
  width: 100%;
  aspect-ratio: 487 / 267;

  @include mq(md) {
    width: calc(650 / 767 * 100%);
  }
}

.p-manual__image--display-example {
  width: calc(260 / 299 * 100%);
  aspect-ratio: 271 / 779;

  @include mq(md) {
    width: calc(350 / 767 * 100%);
  }
}

.p-manual__image--personal-number {
  width: 100%;
  aspect-ratio: 274 / 89;

  @include mq(md) {
    width: calc(750 / 767 * 100%);
  }
}

.p-manual__image--check-the-measurement-results {
  width: 100%;
  aspect-ratio: 4008 / 8243;

  @include mq(md) {
    width: calc(500 / 767 * 100%);
  }
}

.p-manual__item-image--posture {
  width: 100%;
  margin-top: rem(10);
  aspect-ratio: 1409 / 3083;
  
  @include mq(md) {
    width: calc(773 / 788 * 100%);
    aspect-ratio: 2337 / 1418;
  }
}

.p-manual__item-image--step-on {
  width: 100%;
  aspect-ratio: 265 / 298;

  @include mq(md) {
    width: calc(350 / 788 * 100%);
  }
}

.p-manual__image--unit {
  width: 100%;
  aspect-ratio: 438 / 283;

  @include mq(md) {
    width: calc(400 / 788 * 100%);
  }
}

.p-manual__image--auto-transfer-1 {
  width: 100%;
  aspect-ratio: 327 / 74;

  @include mq(md) {
    width: calc(700 / 788 * 100%);
  }
}

.p-manual__image--auto-transfer-2 {
  width: 100%;
  aspect-ratio: 70 / 67;

  @include mq(md) {
    width: calc(500 / 788 * 100%);
  }
}

.p-manual__image--auto-transfer-3 {
  width: 100%;
  aspect-ratio: 350 / 337;

  @include mq(md) {
    width: calc(500 / 788 * 100%);
  }
}

.p-manual__image--results {
  width: calc(236 / 299 * 100%);

  @include mq(md) {
    width: calc(236 / 788 * 100%);
  }
}

.p-manual__image--maintenance {
  width: calc(150 / 299 * 100%);
  aspect-ratio: 38 / 31;

  @include mq(md) {
    width: calc(190 / 777 * 100%);
  }
}

.p-manual__image--storage {
  width: 100%;
  aspect-ratio: 80 / 49;

  @include mq(md) {
    width: calc(413 / 777 * 100%);
  }
}

.p-manual__image--unit-placed {
  width: 100%;
  aspect-ratio: 3 / 2;

  @include mq(md) {
    width: calc(300 / 777 * 100%);
  }
}

.p-manual__image--weight-display-vertical {
  width: calc(290 / 299 * 100%);
  aspect-ratio: 239 / 429;

  @include mq(md) {
    width: calc(300 / 767 * 100%);
  }
}


.p-manual__image--measurement-results1 {
  width: 100%;
  aspect-ratio: 207 / 661;

  @include mq(md) {
    width: calc(750 / 767 * 100%);
  }
}

.p-manual__image--measurement-results2 {
  width: 100%;
  aspect-ratio: 1084 / 847;

  @include mq(md) {
    width: calc(750 / 767 * 100%);
  }
}

.p-manual__image--measurement-results3 {
  width: 100%;
  aspect-ratio: 207 / 661;

  @include mq(md) {
    width: calc(750 / 767 * 100%);
  }
}

.p-manual__image--replace-batteries {
  width: 100%;

  @include mq(md) {
    width: calc(420 / 787 * 100%);
  }
}

.p-manual__image--correct-disposal {
  width: calc(153 / 299 * 100%);
  aspect-ratio: 153 / 161;

  @include mq(md) {
    width: calc(153 / 792 * 100%);
  }
}

.p-manual__image--daily-activity {
  width: 100%;
  aspect-ratio: 263 / 222;

  @include mq(md) {
    width: calc(526 / 767 * 100%);
  }
}

.p-manual__image--visceral-fat1 {
  width: calc(180 / 299 * 100%);
  aspect-ratio: 128 / 159;

  @include mq(md) {
    width: calc(186 / 708 * 100%);
  }
}

.p-manual__image--visceral-fat2 {
  width: calc(180 / 299 * 100%);
  aspect-ratio: 119 / 156;

  @include mq(md) {
    width: calc(186 / 708 * 100%);
  }
}

.p-manual__store-badges {
  display: flex;
  margin-top: rem(10);
  flex-direction: column;
  align-items: flex-start;
  gap: rem(10);

  @include mq(md) {
    flex-direction: row;
  }
}

.p-manual__app-store-badge {
  height: rem(80);
  display: block;
  aspect-ratio: 47 / 16;

  @include mq(md) {
    width: calc(235 / 767 * 100%);
    height: auto;
  }
}

.p-manual__google-play-badge {
  height: rem(80);
  display: block;
  aspect-ratio: 27 / 8;

  @include mq(md) {
    width: calc(270 / 767 * 100%);
    height: auto;
  }
}

.p-manual__app-store-badge img,
.p-manual__google-play-badge img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-manual__icon-wrap {
  display: inline-block;
  vertical-align: text-bottom;
}

.p-manual__icon-wrap--scale {
  vertical-align: top;
}

.p-manual__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: rem(17);
}

.p-manual__icon--scale {
  height: rem(30);
  transform: translateY(rem(-5));
}

.p-manual__link {
  text-decoration: underline;
  color: $blue;
  transition: color 0.3s ease;
  display: inline;
}

@media (hover: hover) {
  .p-manual__link:hover {
    color: #59c2e6;
  }
}

// リストのスタイル
.p-manual__items {
  margin-top: rem(32);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.p-manual__items--mt10 {
  margin-top: rem(10);
}

.p-manual__items--gap0 {
  gap: 0;
}

.p-manual__items--for-accurate-measurement {
  margin-top: rem(12);
  gap: rem(28);
}

.p-manual__items--storage {
  margin-top: rem(10);
  gap: rem(10);
}

.p-manual__item {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
}

.p-manual__item--no {
  padding-left: 0;
}

.p-manual__item--square {
  padding-left: 0;
}

.p-manual__item::before {
  content: "";
  position: absolute;
  left: rem(-10);
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__item--square::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(5);
  width: rem(10);
  height: rem(10);
  background: $black;
  border-radius: 0;
}

.p-manual__item--square .p-manual__item-title {
  text-indent: rem(12);
}

.p-manual__item--no::before {
  display: none;
}

.p-manual__item--no-dot::before {
  display: none;
}

.p-manual__item-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__item-text {
  margin-top: rem(5);
}

.p-manual__instructions--mt10 {
  margin-top: rem(10);
}

.p-manual__instructions--mt40 {
  margin-top: rem(40);
}

.p-manual__instructions--timing {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.p-manual__instruction {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
}

.p-manual__instruction::before {
  content: "";
  position: absolute;
  left: rem(-10);
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__instruction--no-dot::before {
  display: none;
}

.p-manual__instruction--bold::before {
  width: rem(4);
  height: rem(4);

  top: rem(8);
}

.p-manual__instruction-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__instruction-title--fz14 {
  font-size: rem(14);
}

.p-manual__instruction-text {
  font-size: rem(16);
}

.p-manual__instruction-text--fz14 {
  font-size: rem(14);
}

.p-manual__instruction-head {
  margin-top: rem(10);
  font-size: rem(14);
  font-family: var(--font-din-medium);
  line-height: 1.4;
  width: fit-content;
  text-align: center;
}

.p-manual__instruction-text--medium {
  font-family: var(--font-din-medium);
  font-size: rem(14);
  margin-top: rem(10);
}

// 番号付きリストのスタイル
.p-manual__steps {
  margin-top: rem(28);
  display: flex;
  flex-direction: column;
  gap: rem(28);
  counter-reset: step;
  padding-left: rem(5);

  @include mq(md) {
    padding-left: rem(10);
  }
}

.p-manual__steps--mt10 {
  margin-top: rem(10);
}

.p-manual__steps:has(h4.p-manual__step-title) {
  padding-left: rem(10);

  @include mq(md) {
    padding-left: rem(25);
  }
}

.p-manual__step {
  position: relative;
  padding-left: rem(5);

  @include mq(md) {
    padding-left: rem(10);
  }
}

.p-manual__step::before {
  counter-increment: step;
  content: counter(step) ".";
  position: absolute;
  left: rem(-10);
  top: 0;
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__step-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__step-list {
  margin-top: rem(8);
}

.p-manual__step-list--gap30 {
  display: flex;
  flex-direction: column;
  gap: rem(30);
}

.p-manual__step-list-item {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(5);
  position: relative;

  @include mq(md) {
    padding-left: rem(10);
  }
}

.p-manual__step-list-item::before {
  content: "";
  position: absolute;
  left: rem(-10);
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__circle-steps {
  counter-reset: circle-step;
}

.p-manual__circle-step {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(20);
  position: relative;
  counter-increment: circle-step;
}

.p-manual__circle-step::before {
  content: counter(circle-step);
  position: absolute;
  font-size: rem(12);
  color: $white;
  left: rem(-10);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(14);
  height: rem(14);
  background: $black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-manual__procedures {
  counter-reset: procedure;
  padding-left: rem(10);
}

.p-manual__procedure {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
  counter-increment: procedure;
}

.p-manual__procedure::before {
  content: "("counter(procedure)")";
  position: absolute;
  left: rem(-10);
  top: 0;
}

.p-manual__tip {
  margin-top: rem(28);
}

.p-manual__tip-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  padding-left: rem(16);
  position: relative;
  margin-top: rem(10);
}

.p-manual__tip-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(6);
  width: rem(10);
  height: rem(10);
  background: $black;
  border-radius: 50%;
}

.p-manual__tip-text {
  margin-top: rem(10);
  font-size: rem(14);
  line-height: 1.4;
}


.p-manual__example {
  margin-top: rem(10);
  font-size: rem(14);
  font-family: var(--font-din-bold);
  line-height: 1.4;
}

.p-manual__formula {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: 1.4;
  border: 1px solid $black;
  padding: rem(7) rem(30);
  width: fit-content;
  margin-top: rem(8);
}

.p-manual__formulas {
  margin-top: rem(8);
}

.p-manual__formula-item {
  font-size: rem(14);
  line-height: 1.4;
}

.p-manual__formula-list {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(20);
  
  @include mq(md) {
    padding-inline: rem(50);
  }
}

.p-manual__formula-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__formula-wrapper {
  margin-top: rem(32);
}

.p-manual__formula-text {
  font-family: var(--font-din-bold);
  line-height: 1.4;
  text-align: center;
  margin-top: rem(10);
}

.p-manual__grip-steps {
  margin-top: rem(10);
}

.p-manual__app-items {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  counter-reset: app-item;
}

.p-manual__app-item {
  position: relative;
  padding-left: rem(38);
  counter-increment: app-item;
}

.p-manual__app-item::before {
  content: counter(app-item);
  position: absolute;
  top: 0;
  left: 0;
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  color: $white;
  background: $black;
  width: rem(28);
  height: rem(28);
  border-radius: rem(4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-manual__app-item-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  margin-top: rem(4);
}

.p-manual__app-item-text {
  font-size: rem(14);
  line-height: 1.4;
  margin-top: rem(10);
}

.p-manual__figure-items {
  margin-top: rem(20);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(35);

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    max-width: rem(700);
    gap: rem(30) rem(12)
  }
}

.p-manual__figure-items--two-columns {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    max-width: initial;
    gap: rem(30) rem(42);
  }
}

.p-manual__figure-item {
  font-size: rem(14);
  line-height: 1.4;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 0;

  @include mq(md) {
    gap: rem(10);
  }
}

.p-manual__figure-text {
  font-size: rem(14);
  line-height: 1.4;
  position: relative;
  padding-left: rem(10);
}

.p-manual__figure-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(9);
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__figure-image {
  width: calc(250 / 299 * 100%);
  aspect-ratio: 204 / 163;

  @include mq(md) {
    width: rem(207);
    height: auto;
  }
}

.p-manual__figure-image--height {
  aspect-ratio: 408 / 408;
}

.p-manual__figure-image--unit-placed {
  width: 100%;
  aspect-ratio: 528 / 352;

  @include mq(md) {
    width: rem(300);
  }
}

.p-manual__figure-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-manual__unit-placed-items {
  margin-top: rem(10);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(12);

  @include mq(md) {
    max-width: rem(792);
    gap: rem(30) rem(12)
  }
}

.p-manual__unit-placed-item {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.p-manual__unit-placed-text {
  font-size: rem(14);
  line-height: 1.4;
}

.p-manual__timing {
  margin-top: rem(48);
}

.p-manual__personal-data-items {
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
  gap: rem(70);
}

.p-manual__text-block {
  width: 100%;

  @include mq(md) {
    width: calc(522 / 708 * 100%);
  }
}

.p-manual__box {
  margin-top: rem(20);
  padding: rem(10);
  border: 1px solid $black;
}

.p-manual__list {
  margin-top: rem(20);
}

.p-manual__list-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(30, 16);
  position: relative;
  padding-left: rem(10);
}

.p-manual__list-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5lh;
  transform: translateY(-50%);
  width: rem(3);
  aspect-ratio: 1 / 1;
  background: $black;
  border-radius: 50%;
}
