@use 'global' as *;

.p-manual__wrap {
  margin-top: rem(20);
  margin-bottom: rem(20);
}

.p-manual__lead {
  font-size: rem(12);
  // font-family: var(--font-din-medium);
  font-family: $ff-roboto;
  font-weight: $fw-medium;
  line-height: lh(16, 12);
  letter-spacing: 0.05em;
}

.p-manual__article {
  margin-top: rem(28);
}

.p-manual__sub-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__sub-title--mt {
  margin-top: rem(16);
}

.p-manual__sub-text {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: lh(20, 14);
  margin-top: rem(10);
}

.p-manual__url-link {
  display: block;
  margin-top: rem(10);
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: lh(20, 14);
}

.p-manual__table-wrap {
  margin-top: rem(40);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;

  @include mq(md) {
    border: none;
    border-radius: 0;

    &::after {
      display: none;
    }
  }
}

.p-manual__table-wrap--mt10 {
  margin-top: rem(10);
}

.p-manual__table {
  width: rem(653);
  min-width: rem(653);
  table-layout: fixed;

  @include mq(md) {
    width: 100%;
    max-width: rem(653);
    min-width: auto;
  }
}

.p-manual__table--display {
  width: rem(673);
  min-width: rem(673);

  @include mq(md) {
    width: 100%;
    max-width: rem(673);
    min-width: auto;
  }
}

.p-manual__table--two-column {
  width: rem(265);
  min-width: rem(265);

  @include mq(md) {
    width: 100%;
    max-width: rem(265);
    min-width: auto;
  }
}

.p-manual__note {
  margin-top: rem(7);
}

.p-manual__note-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  margin-top: rem(10);
}

.p-manual__note-text {
  font-size: rem(14);
  line-height: 1.4;
  margin-top: rem(10);
}

.p-manual__image {
  margin-top: rem(10);
}

.p-manual__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-manual__image--package-contents-main-unit {
  width: calc(383 / 767 * 100%);
}

.p-manual__image--package-contents-batteries {
  width: calc(130 / 767 * 100%);
}

.p-manual__image--know-your-device-main-unit {
  width: calc(780 / 767 * 100%);
}

.p-manual__image--know-your-device-display {
  width: calc(646 / 767 * 100%);
}

.p-manual__image--installing-batteries-step1 {
  width: calc(268 / 767 * 100%);
}

.p-manual__image--installing-batteries-step2 {
  width: calc(322 / 767 * 100%);
}

.p-manual__image--qr-code,
.p-manual__image--search-display,
.p-manual__image--weight-display,
.p-manual__image--app-display {
  width: calc(223 / 767 * 100%);
}

.p-manual__image--app-logo {
  width: calc(100 / 767 * 100%);
}

.p-manual__image--personal-number {
  width: calc(548 / 767 * 100%);
}

.p-manual__image--check-the-measurement-results {
  width: calc(357 / 767 * 100%);
}

.p-manual__item-image--posture {
  width: calc(773 / 788 * 100%);
}

.p-manual__item-image--step-on {
  width: calc(265 / 788 * 100%);
}

.p-manual__image--unit {
  width: calc(220 / 788 * 100%);
}

.p-manual__image--auto-transfer-1 {
  width: calc(598 / 788 * 100%);
}

.p-manual__image--auto-transfer-2 {
  width: calc(350 / 788 * 100%);
}

.p-manual__image--results {
  width: calc(236 / 788 * 100%);
}

.p-manual__image--maintenance {
  width: calc(190 / 777 * 100%);
}

.p-manual__image--storage {
  width: calc(413 / 777 * 100%);
}

.p-manual__image--unit-placed {
  width: calc(264 / 777 * 100%);
}

.p-manual__store-badges {
  display: flex;
  margin-top: rem(10);
}

.p-manual__store-badge {
  width: calc(270 / 767 * 100%);
  display: block;
}

.p-manual__store-badge img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-manual__icon-wrap {
  display: inline-block;
  vertical-align: text-bottom;
}

.p-manual__icon-wrap--scale {
  vertical-align: top;
}

.p-manual__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: rem(17);
}

.p-manual__icon--scale {
  height: rem(30);
  transform: translateY(rem(-5));
}

// リストのスタイル
.p-manual__items {
  margin-top: rem(32);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.p-manual__items--for-accurate-measurement {
  margin-top: rem(12);
  gap: rem(28);
}

.p-manual__items--storage {
  margin-top: rem(10);
  gap: rem(10);
}

.p-manual__item {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
}

.p-manual__item--no {
  padding-left: 0;
}

.p-manual__item--square {
  padding-left: rem(12);
}

.p-manual__item::before {
  content: "";
  position: absolute;
  left: rem(-10);
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__item--square::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(5);
  width: rem(10);
  height: rem(10);
  background: $black;
  border-radius: 0;
}

.p-manual__item--no::before {
  display: none;
}

.p-manual__item--no-dot::before {
  display: none;
}

.p-manual__item-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__instructions--mt10 {
  margin-top: rem(10);
}

.p-manual__instructions--timing {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.p-manual__instruction {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
}

.p-manual__instruction::before {
  content: "";
  position: absolute;
  left: rem(-10);
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__instruction--no-dot::before {
  display: none;
}

.p-manual__instruction--bold::before {
  width: rem(4);
  height: rem(4);
  top: rem(8);
}

.p-manual__instruction-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__instruction-head {
  margin-top: rem(10);
  font-size: rem(14);
  font-family: $ff-inter;
  font-weight: $fw-semiBold;
  line-height: 1.4;
  width: fit-content;
  text-align: center;
}

.p-manual__instruction-text--semi-bold {
  font-weight: $fw-semiBold;
  margin-top: rem(10);
}

// 番号付きリストのスタイル
.p-manual__steps {
  margin-top: rem(28);
  display: flex;
  flex-direction: column;
  gap: rem(28);
  counter-reset: step;
  padding-left: rem(10);
}

.p-manual__steps--for-accurate-measurement {
  margin-top: rem(12);
}

.p-manual__steps:has(h4.p-manual__step-title) {
  padding-left: rem(25);
}

.p-manual__step {
  position: relative;
  padding-left: rem(10);
}

.p-manual__step::before {
  counter-increment: step;
  content: counter(step) ".";
  position: absolute;
  left: rem(-10);
  top: 0;
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__step-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__step-list {
  margin-top: rem(8);
}

.p-manual__step-list-item {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
}

.p-manual__step-list-item::before {
  content: "";
  position: absolute;
  left: rem(-10);
  top: rem(9);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__procedures {
  counter-reset: procedure;
  padding-left: rem(10);
}

.p-manual__procedure {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
  counter-increment: procedure;
}

.p-manual__procedure::before {
  content: "("counter(procedure)")";
  position: absolute;
  left: rem(-10);
  top: 0;
}

.p-manual__tip {
  margin-top: rem(28);
}

.p-manual__tip-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  padding-left: rem(16);
  position: relative;
}

.p-manual__tip-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(6);
  width: rem(10);
  height: rem(10);
  background: $black;
  border-radius: 50%;
}

.p-manual__tip-text {
  margin-top: rem(10);
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
}


.p-manual__example {
  margin-top: rem(10);
  font-size: rem(14);
  font-family: $ff-inter;
  font-weight: $fw-bold;
  line-height: 1.4;
}

.p-manual__formula {
  font-size: rem(16);
  font-family: $ff-inter;
  font-weight: $fw-bold;
  line-height: 1.4;
  border: 1px solid $black;
  padding: rem(7);
  width: fit-content;
  margin-top: rem(8);
}

.p-manual__formulas {
  margin-top: rem(8);
}

.p-manual__formula-item {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
}

.p-manual__formula-list {
  margin-top: rem(20);
  padding-inline: rem(50);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.p-manual__formula-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
}

.p-manual__formula-wrapper {
  margin-top: rem(32);
}

.p-manual__grip-steps {
  margin-top: rem(10);
}

.p-manual__app-items {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  counter-reset: app-item;
}

.p-manual__app-item {
  position: relative;
  padding-left: rem(38);
  counter-increment: app-item;
}

.p-manual__app-item::before {
  content: counter(app-item);
  position: absolute;
  top: 0;
  left: 0;
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  color: $white;
  background: $black;
  width: rem(28);
  height: rem(28);
  border-radius: rem(4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-manual__app-item-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  margin-top: rem(4);
}

.p-manual__app-item-text {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  margin-top: rem(10);
}

.p-manual__figure-items {
  margin-top: rem(10);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(12);

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    max-width: rem(700);
    gap: rem(30) rem(12)
  }
}

.p-manual__figure-items--two-columns {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-manual__figure-item {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 0;

  @include mq(md) {
    gap: rem(10);
  }
}

.p-manual__figure-text {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  position: relative;
  padding-left: rem(10);
}

.p-manual__figure-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(9);
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}

.p-manual__figure-image {
  width: rem(207);
  height: auto;
}

.p-manual__figure-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-manual__unit-placed-items {
  margin-top: rem(10);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(12);

  @include mq(md) {
    max-width: rem(792);
    gap: rem(30) rem(12)
  }
}

.p-manual__unit-placed-item {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.p-manual__unit-placed-text {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
}

.p-manual__timing {
  margin-top: rem(48);
}