@use 'global' as *;

.p-navigation__items {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.p-navigation__item {
  width: 100%;
}

.p-navigation__link {
  display: grid;
  place-content: center;
  text-align: center;
  width: 100%;
}