@use "global" as *;

.p-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(10);
  
  @include mq(md) {
    gap: rem(20);
    justify-content: right;
  }
}