@use 'global' as *;

.p-specifications {}

.p-specifications__items {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.p-specifications__item {

  @include mq(md) {
    display: flex;
    gap: rem(10);
  }
}

.p-specifications__term {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  letter-spacing: 0;
  width: 100%;

  @include mq(md) {
    width: rem(256);
  }
}

.p-specifications__description {
  width: 100%;

  @include mq(md) {
    width: calc(100% - rem(256));
  }
}

.p-specifications__list-items {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.p-specifications__head {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  letter-spacing: 0;
}

.p-specifications__sub-head {
  font-family: var(--font-din);
}


.p-specifications__text {
  font-size: rem(14);
  line-height: 1.4;
  letter-spacing: 0;
}

.p-specifications__head + .p-specifications__text {
  margin-top: rem(5);
}

.p-specifications__note {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  margin-top: rem(50);
}

.p-specifications__note-text {
  display: flex;
  gap: rem(2);
  font-size: rem(14);
  line-height: 1.4;
  letter-spacing: 0;
}

.p-specifications__note-image-wrap {
  display: flex;
  gap: rem(85);
  margin-top: rem(16);
}

.p-specifications__note-image:first-child {
  width: rem(98);

  @include mq(md) {
    width: calc(98 / 787 * 100%);
  }
}

.p-specifications__note-image:last-child {
  width: rem(50);

  @include mq(md) {
    width: calc(50 / 787 * 100%);
  }
}

.p-specifications__note-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}