@use 'global' as *;

.p-safety__wrap {
  margin-top: rem(20);
  margin-bottom: rem(20);
}

.p-safety__lead {
  font-size: rem(12);
  font-family: var(--font-din-medium);
  line-height: lh(16, 12);
  letter-spacing: 0.05em;
  margin-top: rem(8);
}

.p-safety__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  @include mq(md) {
    width: 90%;
  }
}

.p-safety__image {
  margin-top: rem(8);
  width: rem(173);
  aspect-ratio: 173 / 45;
  overflow: hidden;
}

.p-safety__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-safety__pacemakers {
  width: rem(71);
  aspect-ratio: 71 / 71;
  overflow: hidden;
}

.p-safety__pacemakers img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-safety__items {
  margin-top: rem(8);
}

.p-safety__item {
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(10);
  position: relative;
}

.p-safety__item::before {
  content: '';
  position: absolute;
  top: rem(8);
  left: 0;
  width: rem(4);
  height: rem(4);
  background: $black;
  border-radius: 50%;
}

.p-safety__number-items {
  counter-reset: number-item;
}

.p-safety__number-item {
  position: relative;
  counter-increment: number-item;
  padding-left: rem(20);
}

.p-safety__number-item::before {
  content: counter(number-item);
  position: absolute;
  top: rem(4);
  left: 0;
  color: $white;
  background: $black;
  width: rem(14);
  height: rem(14);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(10);
}

.p-safety__sub-title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  margin-top: rem(8);
}

.p-safety__sub-title--wireless {
  margin-top: 0;
  font-family: var(--font-din-bold);
}

.p-safety__text {
  font-size: rem(14);
  line-height: 1.4;
  margin-top: rem(20);
}

.p-safety__text--mt0 {
  margin-top: 0;
}

.p-safety__wireless {
  margin-top: rem(10);
  padding: rem(10);
  border: 1px solid $black;
}

.p-safety__wireless-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  margin-top: rem(20);
  
  @include mq(md) {
    flex-direction: row;
    gap: rem(20);
  }
}

.p-safety__wireless-image {
  width: rem(60);
  aspect-ratio: 60 / 53;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}