@use 'global' as *;

.p-table {
  font-size: rem(14);
  font-family: var(--font-din-medium);
  line-height: lh(20, 14);
  letter-spacing: 0.0025em;
}

.p-table__head--bold {
  font-family: var(--font-din-bold);
}

.p-table__row {
  // height: rem(50);
}

.p-table__body--text-center {
  text-align: center;
}

.p-table__cell {
  vertical-align: middle;
  padding: rem(5) rem(5) rem(5) rem(7);
  font-size: rem(14);
  line-height: lh(20, 14);
}

.p-table__cell--icon,
.p-table__cell--symbol {
  width: 70px;
}

.p-table__cell--number {
  width: 70px;
  text-align: center;
}

.p-table__cell--name {
  width: 202px;
  text-align: center;
}

.p-table__cell--description {
  width: 400px;
}

.p-table__cell--display {
  width: 199px;
  text-align: center;
}

.p-table__cell--cause {
  width: 172px;
  text-align: center;
}

.p-table__cell--cause-solution {
  width: 473px;
}

.p-table__cell--action {
  width: 283px;
  text-align: center;
}

.p-table__cell--exercise {
  width: 370px;
  text-align: center;
}

.p-table__cell--sports {
  width: 232px;
}

.p-table__cell--formula-name {
  text-align: center;
}

.p-table__cell--color {
  background-color: $gray;
}

.p-table__cell--50 {
  @include mq(md) {
    width: 50%;
  }
}

.p-table__cell-title {
  font-size: rem(14);
  font-family: var(--font-din-bold);
  line-height: lh(20, 14);
  letter-spacing: 0.025em;
}

.p-table__cell-title--fz12 {
  font-size: rem(12);
}

.p-table__cell-items {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.p-table__cell-description {
  font-size: rem(12);
  line-height: lh(16, 12);
  letter-spacing: 0.004em;
  position: relative;
  padding-left: rem(14);
}

.p-table__cell-description::before {
  content: '';
  position: absolute;
  top: rem(7);
  left: rem(7);
  width: rem(2);
  height: rem(2);
  background-color: $black;
  border-radius: 50%;
}

.p-table__icon-wrap {
  padding-block: rem(5);
  vertical-align: middle;
}

.p-table__icon {
  margin-inline: auto;
  width: rem(46);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-table__icon-text {
  font-size: rem(14);
  font-family: var(--font-din-medium);
  line-height: lh(20, 14);
  letter-spacing: 0.0025em;
  margin-top: rem(5);
  text-align: center;
  white-space: nowrap;
}

.p-table__icon--personal-number {
  width: rem(46);
}

.p-table__icon--weight-display {
  width: rem(174);
  aspect-ratio: 349 / 258;
}

.p-table__number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(20);
  height: rem(20);
  background-color: $black;
  border-radius: 50%;
  color: $white;
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: 1;
}