@use 'global' as *;

.p-trademarks__title {
  font-size: rem(16);
  font-family: var(--font-din-bold);
  line-height: lh(20, 16);
  letter-spacing: 0;
  text-transform: capitalize;
}

.p-trademarks__items {
  margin-top: rem(8);
}

.p-trademarks__item {
  font-size: rem(14);
  font-family: $ff-inter;
  line-height: 1.4;
  letter-spacing: 0;
  position: relative;
  padding-left: rem(8);
}

.p-trademarks__item::before {
  content: '';
  position: absolute;
  top: rem(8);
  left: 0;
  width: rem(2);
  height: rem(2);
  background: $black;
  border-radius: 50%;
}