<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.calibration.title %></p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Selecting the Personal Number Manually Before Measurement</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Transferring the Readings Later</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Measuring without Recording (GUEST mode)</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Changing or Deleting Your Personal Data</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Replacing the Batteries</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Restoring the Unit to Factory Settings</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Performing Initial Settings on the Unit</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Registering Personal Data on the Unit</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Selecting Measurement Unit</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>