<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.errorMessagesAndTroubleshooting.title %></p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-for-accurate-measurement.html#check-the-correct-measurement-method" class="p-lower-list__sub-link p-lower-list__sub-link--error"><span>Error Messages</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./how-to-use-for-accurate-measurement.html#check-the-correct-measurement-method" class="p-lower-list__sub-link p-lower-list__sub-link--troubleshooting"><span>Troubleshooting</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>