<div class="p-how-to-use-list">
  <ul class="p-how-to-use-list__items">
    <li class="p-how-to-use-list__item">
      <a href="./how-to-use-package-contents.html" class="p-how-to-use-list__link">Package Contents</a>
    </li>
    <li class="p-how-to-use-list__item">
      <p class="p-how-to-use-list__lead">Know Your Device</p>
      <ul class="p-how-to-use-list__sub-items">
        <li class="p-how-to-use-list__sub-item">
          <a href="./how-to-use-know-your-device.html#main-unit" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--cordReel"><span>Main Unit</span></a> 
        </li>
        <li class="p-how-to-use-list__sub-item">
          <a href="./how-to-use-know-your-device.html#display" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--cordReel"><span>Display</span></a>
        </li>
      </ul>
    </li>
    <li class="p-how-to-use-list__item">
      <a href="./how-to-use-installing-batteries.html" class="p-how-to-use-list__link">Installing Batteries</a>
    </li>
    <li class="p-how-to-use-list__item">
      <p class="p-how-to-use-list__lead">Installing the “OMRON connect” App</p>
      <ul class="p-how-to-use-list__sub-items">
        <li class="p-how-to-use-list__sub-item">
          <a href="./how-to-use-installingOMRONConnectApp.html#install-the-app" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--mobile"><span>Install the App</span></a>
        </li>
        <li class="p-how-to-use-list__sub-item">
          <a href="./how-to-use-installingOMRONConnectApp.html#perform-initial-settings" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>Perform Initial Settings</span></a>
        </li>
      </ul>
    </li>
    <li class="p-how-to-use-list__item">
      <p class="p-how-to-use-list__lead">For Accurate Measurement</p>
      <ul class="p-how-to-use-list__sub-items">
        <li class="p-how-to-use-list__sub-item">
          <a href="#" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>Check the Correct Measurement Method</span></a>
        </li>
        <li class="p-how-to-use-list__sub-item">
          <a href="#" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>Install the Unit</span></a>
        </li>
        <li class="p-how-to-use-list__sub-item">
          <a href="#" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>When “0 kg calibration” Is Required</span></a>
        </li>
        <li class="p-how-to-use-list__sub-item">
          <a href="#" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>Implement the “0 kg Calibration”</span></a>
        </li>
      </ul>
    </li>
    <li class="p-how-to-use-list__item">
      <a href="#" class="p-how-to-use-list__link">Taking a Measurement</a>
    </li>
    <li class="p-how-to-use-list__item">
      <p class="p-how-to-use-list__lead">Transferring Your Reading</p>
      <ul class="p-how-to-use-list__sub-items">
        <li class="p-how-to-use-list__sub-item">
          <a href="#" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>Automatic Transfer of Readings</span></a>
        </li>
        <li class="p-how-to-use-list__sub-item">
          <a href="#" class="p-how-to-use-list__sub-link p-how-to-use-list__sub-link--measurement"><span>Check Your Readings Using the “OMRON connect” App</span></a>
        </li>
      </ul>
    </li>
    <li class="p-how-to-use-list__item">
      <a href="#" class="p-how-to-use-list__link">Measuring Weight Only</a>
    </li>
  </ul>
</div>