<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.maintenance.title %></p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="./maintenance-maintenance.html" class="p-lower-list__sub-link p-lower-list__sub-link--maintenance"><span>Maintenance</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./maintenance-storage.html" class="p-lower-list__sub-link p-lower-list__sub-link--storage"><span>Storage</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="./maintenance-disposal.html" class="p-lower-list__sub-link p-lower-list__sub-link--disposal"><span>Disposal</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>