<div class="p-lower-list">
  <ul class="p-lower-list__items">
    <li class="p-lower-list__item">
      <p class="p-lower-list__lead"><%= json.maintenance.title %></p>
      <ul class="p-lower-list__sub-items">
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Maintenance</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Storage</span></a>
        </li>
        <li class="p-lower-list__sub-item">
          <a href="" class="p-lower-list__sub-link"><span>Disposal</span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>