<%- include('./common/_head', { pageKey: 'about' }) %>
<body>
  <%- include('./common/_header', { pageKey: 'about' }) %>
  
  <main class="l-content">
  </main>
  
  <%- include('./common/_footer') %>
</body>
</html>